<launch>   
    <node name="local_map_scan" pkg="local_map" type="local_map">
        <param name="map_resolution" type="double" value="0.05" />
        <param name="map_width" type="double" value="600" />
        <param name="map_height" type="double" value="600" />
    </node>
    <node name="local_map_depth" pkg="local_map" type="local_map">
        <param name="map_resolution" type="double" value="0.05" />
        <param name="map_width" type="double" value="600" />
        <param name="map_height" type="double" value="600" />
    </node>
    <node name="deadreckoning" pkg="dead_reckoning" type="deadreckoning" output="screen">
        <param name="mode" type="string" value="realworld" />
        <param name="package_path" type="string" value="$(find dead_reckoning)" />
    </node>
    <node name="detectmarker" pkg="detect_marker" type="detect_marker" output="screen" />
    <node name="detectfriend" pkg="detect_friend" type="detect_friend" output="screen" >
        <param name="package_path" type="string" value="$(find detect_friend)" />
    </node>
</launch>
